@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.small-container {
    text-align: center;
}

header {
    background-image: url(images/bg-header-desktop.png), linear-gradient(0deg, rgba(255, 255, 255, 0.5324511201839882) 21%, rgba(159, 171, 178, 0.8125814133435973) 100%);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 2.5em 0;
}

.logo-img {
    margin-top: 4rem;
    padding-bottom: 10px;
}

.main {
    text-align: center;
}

section h2 {
    font-size: 3rem;
    font-weight: 800;
}

section p {
    color: #9FABB2;
    font-size: 1.18em;
    margin: 1em auto 2em;
    line-height: 1.2em;
}

button {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 1.2em;
}

.ios {
    background-color: hsl(171, 66%, 44%);
}

.windows {
    background-color: hsl(233, 100%, 69%);
}

section.smallcontainer h5 {
    font-weight: bold;
    font-size: 1.5em;
}

div>p {
    color: #9FABB2;
}

.imagedevices {
    text-align: center;
    padding: 3em 0;
}

.icons {
    text-align: center;
    padding: 1em 0 3em;
}

.iconscontainer {
    font-weight: 900;
}

.companies-container {
    margin: 3em auto 3em;
}

.download {
    text-align: center;
    margin: 5em auto 5em;
}

footer {
    background-color: #F5F6F8;
    max-height: 100%;
}

footer a {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: 1.2em;
}

a:hover {
    color: hsl(171, 66%, 44%);
    text-decoration: none;
}

@media screen and (max-width:500px) {
    body {
        text-align: center;
    }
    button {
        margin: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    img.computer {
        margin: 30px auto 30px;
    }
    .imagedevices img {
        width: 100%;
        height: 250px;
        margin: 20px 0 20px;
    }
    .companies-container div {
        margin-bottom: 40px;
    }
}